@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}

header > h1{
    margin: 10px;
    padding: 10px
}

header > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
}

header > a:hover{
    color: white;
    background-color: #bd4234e3;
}

main>section{
    padding: 70px 0px;
}

#hero{
    background-image:url(imagens/marte_size.avif);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero > h2{
    padding: 10px;
    font-size: 3em;
}

main h2{
    padding: 10px;
}

main p{
    padding: 10px;
    text-indent: 10px ;
}

#parallax{
    background-image: url(imagens/universo_fixed.webp); /*Trocar por uma imagem com uma qualidade melhor*/
    color: white;
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

