@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}

main>section{
    padding: 100px 0px;
}

#hero{
    background-image:url(imagens/marte_size.avif);
    text-align: center;
    color: white;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
